*~
*.bak
*.o
*.exe
cscope*
*#
Makefile.in
ltmain.sh
libtool
*.lo
*.la
install-sh
depcomp
config.guess
config.h
config.log
config.status
config.sub
config.cache
configure
*/.deps
autom4te*
po/POTFILES
po/Makefile*
po/stamp-it
po/*.gmo
po/*.pot
missing
mkinstalldirs
stamp-h1
*.libs/
Makefile
aclocal.m4
*core
m4/intltool.m4
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
ccnet-*.tar.gz
config.h.in
py-compile
intltool-extract.in
intltool-merge.in
intltool-update.in
*.stamp
*.pyc
*.tmp.ui
*.defs
*.log
.deps
*.db
*.dll
*.aps
*.so
build-stamp
debian/files
debian/seafile
debian/*.substvars
lib/*.tmp
lib/dir.c
lib/dirent.c
lib/webaccess.c
lib/branch.c
lib/commit.c
lib/crypt.c
lib/copy-task.c
app/seafile
app/seafserv-tool
daemon/seaf-daemon
gui/gtk/seafile-applet
server/seaf-server
server/gc/seafserv-gc
monitor/seaf-mon
controller/seafile-controller
fileserver/fileserver
tests/common-conf.sh
tools/seaf-server-init
*.mo
seafile-web
tests/basic/conf1/c882e263e9d02c63ca6b61c68508761cbc74c358.peer
tests/basic/conf1/c882e263e9d02c63ca6b61c68508761cbc74c358.user
tests/basic/conf1/group-db/
tests/basic/conf1/peer-db/
tests/basic/conf1/user-db/
tests/basic/conf2/376cf9b6ef33a6839cf1fc096131893b5ecc673f.peer
tests/basic/conf2/376cf9b6ef33a6839cf1fc096131893b5ecc673f.user
tests/basic/conf2/group-db/
tests/basic/conf2/peer-db/
tests/basic/conf2/user-db/
tests/basic/conf3/1e5b5e0f49010b94aa6c2995a6e7b7cba462d388.peer
tests/basic/conf3/1e5b5e0f49010b94aa6c2995a6e7b7cba462d388.user
tests/basic/conf3/group-db/
tests/basic/conf3/peer-db/
tests/basic/conf3/user-db/
tests/basic/conf4/93ae3e01eea6667cbdd03c4afde413ccd9f1eb43.peer
tests/basic/conf4/93ae3e01eea6667cbdd03c4afde413ccd9f1eb43.user
tests/basic/conf4/peer-db/
tests/basic/conf4/user-db/
web/local_settings.py
gui/win/applet-po-gbk.h
*.dylib
.DS_Store
gui/mac/seafile/build/
gui/mac/seafile/ccnet
gui/mac/seafile/seaf-daemon
gui/mac/seafile/seafileweb.app
web/build/
web/dist/
tests/basic/conf2/misc/
tests/basic/conf2/seafile-data/
tests/test-cdc
tests/test-index
tests/test-seafile-fmt
*.pc
seaf-fsck
*.tar.gz
fuse/seaf-fuse
server/gc/seaf-migrate
/compile
/test-driver
*.dmp
/symbols

# visual studio
Debug
msi/custom/x64
msi/ext.wxi
msi/shell.wxs
seafile.vcxproj.user
x64
msi/custom/seafile_custom.vcxproj.user
msi/custom/.vs
