<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include Includes.wxi?>
  <Fragment>
    <DirectoryRef Id="INSTALLDIR">
      <Directory Id="shell_bin_dir" Name="bin">
        <Component Id="comp_shell" Guid="DAB96469-FFCE-4723-BD50-03AEBA4D36BD" Win64="no">
          <Condition>NOT VersionNT64</Condition>
          <!-- Register the shell extensions -->

          <RegistryKey Root="HKLM" Key="Software\Classes\Directory\shellex\ContextMenuHandlers\!(loc.AppName)" />
          <RegistryValue Root="HKLM" Key="Software\Classes\Directory\shellex\ContextMenuHandlers\!(loc.AppName)" Value="{$(var.ShellGuid)}" Type="string" />
          <RegistryKey Root="HKLM" Key="Software\Classes\Directory\Background\shellex\ContextMenuHandlers\!(loc.AppName)" />
          <RegistryValue Root="HKLM" Key="Software\Classes\Directory\Background\shellex\ContextMenuHandlers\!(loc.AppName)" Value="{$(var.ShellGuid)}" Type="string" />
          <RegistryKey Root="HKLM" Key="Software\Classes\Folder\shellex\ContextMenuHandlers\!(loc.AppName)" />
          <RegistryValue Root="HKLM" Key="Software\Classes\Folder\shellex\ContextMenuHandlers\!(loc.AppName)" Value="{$(var.ShellGuid)}" Type="string" />
          <RegistryKey Root="HKLM" Key="Software\Classes\LibraryLocation\shellex\ContextMenuHandlers\!(loc.AppName)" />
          <RegistryValue Root="HKLM" Key="Software\Classes\LibraryLocation\shellex\ContextMenuHandlers\!(loc.AppName)" Value="{$(var.ShellGuid)}" Type="string" />
          <RegistryKey Root="HKLM" Key="Software\Classes\LibraryFolder\Background\shellex\ContextMenuHandlers\!(loc.AppName)" />
          <RegistryValue Root="HKLM" Key="Software\Classes\LibraryFolder\Background\shellex\ContextMenuHandlers\!(loc.AppName)" Value="{$(var.ShellGuid)}" Type="string" />
          <RegistryKey Root="HKLM" Key="Software\Classes\CLSID\{$(var.ShellGuid)}" />
          <RegistryValue Root="HKLM" Key="Software\Classes\CLSID\{$(var.ShellGuid)}\InProcServer32" Name="ThreadingModel" Value="Apartment" Type="string" />
          <RegistryValue Root="HKLM" Key="Software\Classes\CLSID\{$(var.ShellGuid)}\InProcServer32" Value="[AppDataFolder]!(loc.AppName)\seafile_shell_ext.dll" Type="string" />
          <RegistryValue Root="HKLM" Key="Software\Classes\CLSID\{$(var.ShellGuid)}" Value="!(loc.AppName)" Type="string" />
          <RegistryKey Root="HKLM" Key="Software\Classes\CLSID\{$(var.ShellGuid)}\shellex\NoRecentDocs" />
          <RegistryValue Root="HKLM" Key="Software\Classes\*\shellex\ContextMenuHandlers\!(loc.AppName)" Value="{$(var.ShellGuid)}" Type="string" />

          <!-- approve our shell extensions -->
          <RegistryValue Root="HKLM" Key="Software\Microsoft\Windows\CurrentVersion\Shell Extensions\Approved" Name="{$(var.ShellGuid)}" Value="!(loc.AppName)" Type="string" />
        </Component>
        <Component Id="comp_shell64" Guid="EEA7C4A2-4CCB-4185-BDA0-BDBD8D90B817" Win64="yes">
          <Condition>VersionNT64</Condition>
          <!-- Register the shell extensions -->

          <RegistryKey Root="HKLM" Key="Software\Classes\Directory\shellex\ContextMenuHandlers\!(loc.AppName)" />
          <RegistryValue Root="HKLM" Key="Software\Classes\Directory\shellex\ContextMenuHandlers\!(loc.AppName)" Value="{$(var.ShellGuid)}" Type="string" />
          <RegistryKey Root="HKLM" Key="Software\Classes\Directory\Background\shellex\ContextMenuHandlers\!(loc.AppName)" />
          <RegistryValue Root="HKLM" Key="Software\Classes\Directory\Background\shellex\ContextMenuHandlers\!(loc.AppName)" Value="{$(var.ShellGuid)}" Type="string" />
          <RegistryKey Root="HKLM" Key="Software\Classes\Folder\shellex\ContextMenuHandlers\!(loc.AppName)" />
          <RegistryValue Root="HKLM" Key="Software\Classes\Folder\shellex\ContextMenuHandlers\!(loc.AppName)" Value="{$(var.ShellGuid)}" Type="string" />
          <RegistryKey Root="HKLM" Key="Software\Classes\LibraryLocation\shellex\ContextMenuHandlers\!(loc.AppName)" />
          <RegistryValue Root="HKLM" Key="Software\Classes\LibraryLocation\shellex\ContextMenuHandlers\!(loc.AppName)" Value="{$(var.ShellGuid)}" Type="string" />
          <RegistryKey Root="HKLM" Key="Software\Classes\LibraryFolder\Background\shellex\ContextMenuHandlers\!(loc.AppName)" />
          <RegistryValue Root="HKLM" Key="Software\Classes\LibraryFolder\Background\shellex\ContextMenuHandlers\!(loc.AppName)" Value="{$(var.ShellGuid)}" Type="string" />
          <RegistryKey Root="HKLM" Key="Software\Classes\CLSID\{$(var.ShellGuid)}" />
          <RegistryValue Root="HKLM" Key="Software\Classes\CLSID\{$(var.ShellGuid)}\InProcServer32" Name="ThreadingModel" Value="Apartment" Type="string" />
          <RegistryValue Root="HKLM" Key="Software\Classes\CLSID\{$(var.ShellGuid)}\InProcServer32" Value="[AppDataFolder]!(loc.AppName)\seafile_shell_ext64.dll" Type="string" />
          <RegistryValue Root="HKLM" Key="Software\Classes\CLSID\{$(var.ShellGuid)}" Value="!(loc.AppName)" Type="string" />
          <RegistryKey Root="HKLM" Key="Software\Classes\CLSID\{$(var.ShellGuid)}\shellex\NoRecentDocs" />
          <RegistryValue Root="HKLM" Key="Software\Classes\*\shellex\ContextMenuHandlers\!(loc.AppName)" Value="{$(var.ShellGuid)}" Type="string" />

          <!-- approve our shell extensions -->
          <RegistryValue Root="HKLM" Key="Software\Microsoft\Windows\CurrentVersion\Shell Extensions\Approved" Name="{$(var.ShellGuid)}" Value="!(loc.AppName)" Type="string" />
        </Component>
      </Directory>
    </DirectoryRef>
  </Fragment>
</Wix>
