<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include Includes.pafile.wxi?>
  <Fragment>
    <DirectoryRef Id="INSTALLDIR">
      <Directory Id="shell_bin_dir" Name="bin">
        <Component Id="comp_shell" Guid="$(var.GuidOf32BitShellComponent)" Win64="no">
          <Condition>NOT VersionNT64</Condition>
          <!-- Context Menu Extension -->
          <RegistryKey Root="HKLM" Key="Software\Classes\Directory\shellex\ContextMenuHandlers\!(loc.AppName)" />
          <RegistryValue Root="HKLM" Key="Software\Classes\Directory\shellex\ContextMenuHandlers\!(loc.AppName)" Value="{$(var.ShellGuidContextMenu)}" Type="string" />
          <RegistryKey Root="HKLM" Key="Software\Classes\Directory\Background\shellex\ContextMenuHandlers\!(loc.AppName)" />
          <RegistryValue Root="HKLM" Key="Software\Classes\Directory\Background\shellex\ContextMenuHandlers\!(loc.AppName)" Value="{$(var.ShellGuidContextMenu)}" Type="string" />
          <RegistryKey Root="HKLM" Key="Software\Classes\Folder\shellex\ContextMenuHandlers\!(loc.AppName)" />
          <RegistryValue Root="HKLM" Key="Software\Classes\Folder\shellex\ContextMenuHandlers\!(loc.AppName)" Value="{$(var.ShellGuidContextMenu)}" Type="string" />
          <RegistryKey Root="HKLM" Key="Software\Classes\LibraryLocation\shellex\ContextMenuHandlers\!(loc.AppName)" />
          <RegistryValue Root="HKLM" Key="Software\Classes\LibraryLocation\shellex\ContextMenuHandlers\!(loc.AppName)" Value="{$(var.ShellGuidContextMenu)}" Type="string" />
          <RegistryKey Root="HKLM" Key="Software\Classes\LibraryFolder\Background\shellex\ContextMenuHandlers\!(loc.AppName)" />
          <RegistryValue Root="HKLM" Key="Software\Classes\LibraryFolder\Background\shellex\ContextMenuHandlers\!(loc.AppName)" Value="{$(var.ShellGuidContextMenu)}" Type="string" />
          <RegistryKey Root="HKLM" Key="Software\Classes\CLSID\{$(var.ShellGuidContextMenu)}" />
          <RegistryValue Root="HKLM" Key="Software\Classes\CLSID\{$(var.ShellGuidContextMenu)}\InProcServer32" Name="ThreadingModel" Value="Apartment" Type="string" />
          <RegistryValue Root="HKLM" Key="Software\Classes\CLSID\{$(var.ShellGuidContextMenu)}\InProcServer32" Value="[AppDataFolder]!(loc.AppName)\seafile_shell_ext.dll" Type="string" />
          <RegistryValue Root="HKLM" Key="Software\Classes\CLSID\{$(var.ShellGuidContextMenu)}" Value="!(loc.AppName)" Type="string" />
          <RegistryKey Root="HKLM" Key="Software\Classes\CLSID\{$(var.ShellGuidContextMenu)}\shellex\NoRecentDocs" />
          <RegistryValue Root="HKLM" Key="Software\Classes\*\shellex\ContextMenuHandlers\!(loc.AppName)" Value="{$(var.ShellGuidContextMenu)}" Type="string" />
          <RegistryValue Root="HKLM" Key="Software\Microsoft\Windows\CurrentVersion\Shell Extensions\Approved" Name="{$(var.ShellGuidContextMenu)}" Value="!(loc.AppName)" Type="string" />

          <!-- Icon Overlays Exensions -->
          <RegistryKey Root="HKLM" Key="Software\Classes\CLSID\{$(var.ShellGuidIconNormal)}" />
          <RegistryValue Root="HKLM" Key="Software\Classes\CLSID\{$(var.ShellGuidIconNormal)}\InProcServer32" Name="ThreadingModel" Value="Apartment" Type="string" />
          <RegistryValue Root="HKLM" Key="Software\Classes\CLSID\{$(var.ShellGuidIconNormal)}\InProcServer32" Value="[AppDataFolder]!(loc.AppName)\seafile_shell_ext.dll" Type="string" />
          <RegistryValue Root="HKLM" Key="Software\Classes\CLSID\{$(var.ShellGuidIconNormal)}" Value="!(loc.AppName)" Type="string" />
          <RegistryKey Root="HKLM" Key="Software\Classes\CLSID\{$(var.ShellGuidIconSyncing)}" />
          <RegistryValue Root="HKLM" Key="Software\Classes\CLSID\{$(var.ShellGuidIconSyncing)}\InProcServer32" Name="ThreadingModel" Value="Apartment" Type="string" />
          <RegistryValue Root="HKLM" Key="Software\Classes\CLSID\{$(var.ShellGuidIconSyncing)}\InProcServer32" Value="[AppDataFolder]!(loc.AppName)\seafile_shell_ext.dll" Type="string" />
          <RegistryValue Root="HKLM" Key="Software\Classes\CLSID\{$(var.ShellGuidIconSyncing)}" Value="!(loc.AppName)" Type="string" />
          <RegistryKey Root="HKLM" Key="Software\Classes\CLSID\{$(var.ShellGuidIconError)}" />
          <RegistryValue Root="HKLM" Key="Software\Classes\CLSID\{$(var.ShellGuidIconError)}\InProcServer32" Name="ThreadingModel" Value="Apartment" Type="string" />
          <RegistryValue Root="HKLM" Key="Software\Classes\CLSID\{$(var.ShellGuidIconError)}\InProcServer32" Value="[AppDataFolder]!(loc.AppName)\seafile_shell_ext.dll" Type="string" />
          <RegistryValue Root="HKLM" Key="Software\Classes\CLSID\{$(var.ShellGuidIconError)}" Value="!(loc.AppName)" Type="string" />
          <RegistryKey Root="HKLM" Key="Software\Classes\CLSID\{$(var.ShellGuidIconPaused)}" />
          <RegistryValue Root="HKLM" Key="Software\Classes\CLSID\{$(var.ShellGuidIconPaused)}\InProcServer32" Name="ThreadingModel" Value="Apartment" Type="string" />
          <RegistryValue Root="HKLM" Key="Software\Classes\CLSID\{$(var.ShellGuidIconPaused)}\InProcServer32" Value="[AppDataFolder]!(loc.AppName)\seafile_shell_ext.dll" Type="string" />
          <RegistryValue Root="HKLM" Key="Software\Classes\CLSID\{$(var.ShellGuidIconPaused)}" Value="!(loc.AppName)" Type="string" />
          <RegistryKey Root="HKLM" Key="Software\Classes\CLSID\{$(var.ShellGuidIconLockedByMe)}" />
          <RegistryValue Root="HKLM" Key="Software\Classes\CLSID\{$(var.ShellGuidIconLockedByMe)}\InProcServer32" Name="ThreadingModel" Value="Apartment" Type="string" />
          <RegistryValue Root="HKLM" Key="Software\Classes\CLSID\{$(var.ShellGuidIconLockedByMe)}\InProcServer32" Value="[AppDataFolder]!(loc.AppName)\seafile_shell_ext.dll" Type="string" />
          <RegistryValue Root="HKLM" Key="Software\Classes\CLSID\{$(var.ShellGuidIconLockedByMe)}" Value="!(loc.AppName)" Type="string" />
          <RegistryKey Root="HKLM" Key="Software\Classes\CLSID\{$(var.ShellGuidIconLockedByOthers)}" />
          <RegistryValue Root="HKLM" Key="Software\Classes\CLSID\{$(var.ShellGuidIconLockedByOthers)}\InProcServer32" Name="ThreadingModel" Value="Apartment" Type="string" />
          <RegistryValue Root="HKLM" Key="Software\Classes\CLSID\{$(var.ShellGuidIconLockedByOthers)}\InProcServer32" Value="[AppDataFolder]!(loc.AppName)\seafile_shell_ext.dll" Type="string" />
          <RegistryValue Root="HKLM" Key="Software\Classes\CLSID\{$(var.ShellGuidIconLockedByOthers)}" Value="!(loc.AppName)" Type="string" />


          <RegistryKey Root="HKLM" Key="Software\Microsoft\Windows\CurrentVersion\Explorer\ShellIconOverlayIdentifiers\ &quot;.!(loc.AppName)IconNormal&quot;" />
          <RegistryValue Root="HKLM" Key="Software\Microsoft\Windows\CurrentVersion\Explorer\ShellIconOverlayIdentifiers\ &quot;.!(loc.AppName)IconNormal&quot;"
                         Value="{$(var.ShellGuidIconNormal)}" Type="string" />
          <RegistryKey Root="HKLM" Key="Software\Microsoft\Windows\CurrentVersion\Explorer\ShellIconOverlayIdentifiers\ &quot;.!(loc.AppName)IconSyncing&quot;" />
          <RegistryValue Root="HKLM" Key="Software\Microsoft\Windows\CurrentVersion\Explorer\ShellIconOverlayIdentifiers\ &quot;.!(loc.AppName)IconSyncing&quot;"
                         Value="{$(var.ShellGuidIconSyncing)}" Type="string" />
          <RegistryKey Root="HKLM" Key="Software\Microsoft\Windows\CurrentVersion\Explorer\ShellIconOverlayIdentifiers\ &quot;.!(loc.AppName)IconError&quot;" />
          <RegistryValue Root="HKLM" Key="Software\Microsoft\Windows\CurrentVersion\Explorer\ShellIconOverlayIdentifiers\ &quot;.!(loc.AppName)IconError&quot;"
                         Value="{$(var.ShellGuidIconError)}" Type="string" />
          <RegistryKey Root="HKLM" Key="Software\Microsoft\Windows\CurrentVersion\Explorer\ShellIconOverlayIdentifiers\ &quot;.!(loc.AppName)IconPaused&quot;" />
          <RegistryValue Root="HKLM" Key="Software\Microsoft\Windows\CurrentVersion\Explorer\ShellIconOverlayIdentifiers\ &quot;.!(loc.AppName)IconPaused&quot;"
                         Value="{$(var.ShellGuidIconPaused)}" Type="string" />
          <RegistryKey Root="HKLM" Key="Software\Microsoft\Windows\CurrentVersion\Explorer\ShellIconOverlayIdentifiers\ &quot;.!(loc.AppName)IconLockedByMe&quot;" />
          <RegistryValue Root="HKLM" Key="Software\Microsoft\Windows\CurrentVersion\Explorer\ShellIconOverlayIdentifiers\ &quot;.!(loc.AppName)IconLockedByMe&quot;"
                         Value="{$(var.ShellGuidIconLockedByMe)}" Type="string" />
          <RegistryKey Root="HKLM" Key="Software\Microsoft\Windows\CurrentVersion\Explorer\ShellIconOverlayIdentifiers\ &quot;.!(loc.AppName)IconLockedByOthers&quot;" />
          <RegistryValue Root="HKLM" Key="Software\Microsoft\Windows\CurrentVersion\Explorer\ShellIconOverlayIdentifiers\ &quot;.!(loc.AppName)IconLockedByOthers&quot;"
                         Value="{$(var.ShellGuidIconLockedByOthers)}" Type="string" />

          <RegistryValue Root="HKLM" Key="Software\Microsoft\Windows\CurrentVersion\Shell Extensions\Approved" Name="{$(var.ShellGuidIconNormal)}" Value="!(loc.AppName)IconNormal" Type="string" />
          <RegistryValue Root="HKLM" Key="Software\Microsoft\Windows\CurrentVersion\Shell Extensions\Approved" Name="{$(var.ShellGuidIconSyncing)}" Value="!(loc.AppName)IconSyncing" Type="string" />
          <RegistryValue Root="HKLM" Key="Software\Microsoft\Windows\CurrentVersion\Shell Extensions\Approved" Name="{$(var.ShellGuidIconError)}" Value="!(loc.AppName)IconError" Type="string" />
          <RegistryValue Root="HKLM" Key="Software\Microsoft\Windows\CurrentVersion\Shell Extensions\Approved" Name="{$(var.ShellGuidIconPaused)}" Value="!(loc.AppName)IconPaused" Type="string" />
          <RegistryValue Root="HKLM" Key="Software\Microsoft\Windows\CurrentVersion\Shell Extensions\Approved" Name="{$(var.ShellGuidIconLockedByMe)}" Value="!(loc.AppName)IconLockedByMe" Type="string" />
          <RegistryValue Root="HKLM" Key="Software\Microsoft\Windows\CurrentVersion\Shell Extensions\Approved" Name="{$(var.ShellGuidIconLockedByOthers)}" Value="!(loc.AppName)IconLockedByOthers" Type="string" />

        </Component>
        <Component Id="comp_shell64" Guid="$(var.GuidOf64BitShellComponent)" Win64="yes">
          <Condition>VersionNT64</Condition>
          <!-- Context Menu Extension -->
          <RegistryKey Root="HKLM" Key="Software\Classes\Directory\shellex\ContextMenuHandlers\!(loc.AppName)" />
          <RegistryValue Root="HKLM" Key="Software\Classes\Directory\shellex\ContextMenuHandlers\!(loc.AppName)" Value="{$(var.ShellGuidContextMenu)}" Type="string" />
          <RegistryKey Root="HKLM" Key="Software\Classes\Directory\Background\shellex\ContextMenuHandlers\!(loc.AppName)" />
          <RegistryValue Root="HKLM" Key="Software\Classes\Directory\Background\shellex\ContextMenuHandlers\!(loc.AppName)" Value="{$(var.ShellGuidContextMenu)}" Type="string" />
          <RegistryKey Root="HKLM" Key="Software\Classes\Folder\shellex\ContextMenuHandlers\!(loc.AppName)" />
          <RegistryValue Root="HKLM" Key="Software\Classes\Folder\shellex\ContextMenuHandlers\!(loc.AppName)" Value="{$(var.ShellGuidContextMenu)}" Type="string" />
          <RegistryKey Root="HKLM" Key="Software\Classes\LibraryLocation\shellex\ContextMenuHandlers\!(loc.AppName)" />
          <RegistryValue Root="HKLM" Key="Software\Classes\LibraryLocation\shellex\ContextMenuHandlers\!(loc.AppName)" Value="{$(var.ShellGuidContextMenu)}" Type="string" />
          <RegistryKey Root="HKLM" Key="Software\Classes\LibraryFolder\Background\shellex\ContextMenuHandlers\!(loc.AppName)" />
          <RegistryValue Root="HKLM" Key="Software\Classes\LibraryFolder\Background\shellex\ContextMenuHandlers\!(loc.AppName)" Value="{$(var.ShellGuidContextMenu)}" Type="string" />
          <RegistryKey Root="HKLM" Key="Software\Classes\CLSID\{$(var.ShellGuidContextMenu)}" />
          <RegistryValue Root="HKLM" Key="Software\Classes\CLSID\{$(var.ShellGuidContextMenu)}\InProcServer32" Name="ThreadingModel" Value="Apartment" Type="string" />
          <RegistryValue Root="HKLM" Key="Software\Classes\CLSID\{$(var.ShellGuidContextMenu)}\InProcServer32" Value="[AppDataFolder]!(loc.AppName)\seafile_shell_ext64.dll" Type="string" />
          <RegistryValue Root="HKLM" Key="Software\Classes\CLSID\{$(var.ShellGuidContextMenu)}" Value="!(loc.AppName)" Type="string" />
          <RegistryKey Root="HKLM" Key="Software\Classes\CLSID\{$(var.ShellGuidContextMenu)}\shellex\NoRecentDocs" />
          <RegistryValue Root="HKLM" Key="Software\Classes\*\shellex\ContextMenuHandlers\!(loc.AppName)" Value="{$(var.ShellGuidContextMenu)}" Type="string" />
          <RegistryValue Root="HKLM" Key="Software\Microsoft\Windows\CurrentVersion\Shell Extensions\Approved" Name="{$(var.ShellGuidContextMenu)}" Value="!(loc.AppName)" Type="string" />

          <!-- Icon Overlays Exensions -->
          <RegistryKey Root="HKLM" Key="Software\Classes\CLSID\{$(var.ShellGuidIconNormal)}" />
          <RegistryValue Root="HKLM" Key="Software\Classes\CLSID\{$(var.ShellGuidIconNormal)}\InProcServer32" Name="ThreadingModel" Value="Apartment" Type="string" />
          <RegistryValue Root="HKLM" Key="Software\Classes\CLSID\{$(var.ShellGuidIconNormal)}\InProcServer32" Value="[AppDataFolder]!(loc.AppName)\seafile_shell_ext64.dll" Type="string" />
          <RegistryValue Root="HKLM" Key="Software\Classes\CLSID\{$(var.ShellGuidIconNormal)}" Value="!(loc.AppName)" Type="string" />
          <RegistryKey Root="HKLM" Key="Software\Classes\CLSID\{$(var.ShellGuidIconSyncing)}" />
          <RegistryValue Root="HKLM" Key="Software\Classes\CLSID\{$(var.ShellGuidIconSyncing)}\InProcServer32" Name="ThreadingModel" Value="Apartment" Type="string" />
          <RegistryValue Root="HKLM" Key="Software\Classes\CLSID\{$(var.ShellGuidIconSyncing)}\InProcServer32" Value="[AppDataFolder]!(loc.AppName)\seafile_shell_ext64.dll" Type="string" />
          <RegistryValue Root="HKLM" Key="Software\Classes\CLSID\{$(var.ShellGuidIconSyncing)}" Value="!(loc.AppName)" Type="string" />
          <RegistryKey Root="HKLM" Key="Software\Classes\CLSID\{$(var.ShellGuidIconError)}" />
          <RegistryValue Root="HKLM" Key="Software\Classes\CLSID\{$(var.ShellGuidIconError)}\InProcServer32" Name="ThreadingModel" Value="Apartment" Type="string" />
          <RegistryValue Root="HKLM" Key="Software\Classes\CLSID\{$(var.ShellGuidIconError)}\InProcServer32" Value="[AppDataFolder]!(loc.AppName)\seafile_shell_ext64.dll" Type="string" />
          <RegistryValue Root="HKLM" Key="Software\Classes\CLSID\{$(var.ShellGuidIconError)}" Value="!(loc.AppName)" Type="string" />
          <RegistryKey Root="HKLM" Key="Software\Classes\CLSID\{$(var.ShellGuidIconPaused)}" />
          <RegistryValue Root="HKLM" Key="Software\Classes\CLSID\{$(var.ShellGuidIconPaused)}\InProcServer32" Name="ThreadingModel" Value="Apartment" Type="string" />
          <RegistryValue Root="HKLM" Key="Software\Classes\CLSID\{$(var.ShellGuidIconPaused)}\InProcServer32" Value="[AppDataFolder]!(loc.AppName)\seafile_shell_ext64.dll" Type="string" />
          <RegistryValue Root="HKLM" Key="Software\Classes\CLSID\{$(var.ShellGuidIconPaused)}" Value="!(loc.AppName)" Type="string" />
          <RegistryKey Root="HKLM" Key="Software\Classes\CLSID\{$(var.ShellGuidIconLockedByMe)}" />
          <RegistryValue Root="HKLM" Key="Software\Classes\CLSID\{$(var.ShellGuidIconLockedByMe)}\InProcServer32" Name="ThreadingModel" Value="Apartment" Type="string" />
          <RegistryValue Root="HKLM" Key="Software\Classes\CLSID\{$(var.ShellGuidIconLockedByMe)}\InProcServer32" Value="[AppDataFolder]!(loc.AppName)\seafile_shell_ext64.dll" Type="string" />
          <RegistryValue Root="HKLM" Key="Software\Classes\CLSID\{$(var.ShellGuidIconLockedByMe)}" Value="!(loc.AppName)" Type="string" />
          <RegistryKey Root="HKLM" Key="Software\Classes\CLSID\{$(var.ShellGuidIconLockedByOthers)}" />
          <RegistryValue Root="HKLM" Key="Software\Classes\CLSID\{$(var.ShellGuidIconLockedByOthers)}\InProcServer32" Name="ThreadingModel" Value="Apartment" Type="string" />
          <RegistryValue Root="HKLM" Key="Software\Classes\CLSID\{$(var.ShellGuidIconLockedByOthers)}\InProcServer32" Value="[AppDataFolder]!(loc.AppName)\seafile_shell_ext64.dll" Type="string" />
          <RegistryValue Root="HKLM" Key="Software\Classes\CLSID\{$(var.ShellGuidIconLockedByOthers)}" Value="!(loc.AppName)" Type="string" />


          <RegistryKey Root="HKLM" Key="Software\Microsoft\Windows\CurrentVersion\Explorer\ShellIconOverlayIdentifiers\ &quot;.!(loc.AppName)IconNormal&quot;" />
          <RegistryValue Root="HKLM" Key="Software\Microsoft\Windows\CurrentVersion\Explorer\ShellIconOverlayIdentifiers\ &quot;.!(loc.AppName)IconNormal&quot;"
                         Value="{$(var.ShellGuidIconNormal)}" Type="string" />
          <RegistryKey Root="HKLM" Key="Software\Microsoft\Windows\CurrentVersion\Explorer\ShellIconOverlayIdentifiers\ &quot;.!(loc.AppName)IconSyncing&quot;" />
          <RegistryValue Root="HKLM" Key="Software\Microsoft\Windows\CurrentVersion\Explorer\ShellIconOverlayIdentifiers\ &quot;.!(loc.AppName)IconSyncing&quot;"
                         Value="{$(var.ShellGuidIconSyncing)}" Type="string" />
          <RegistryKey Root="HKLM" Key="Software\Microsoft\Windows\CurrentVersion\Explorer\ShellIconOverlayIdentifiers\ &quot;.!(loc.AppName)IconError&quot;" />
          <RegistryValue Root="HKLM" Key="Software\Microsoft\Windows\CurrentVersion\Explorer\ShellIconOverlayIdentifiers\ &quot;.!(loc.AppName)IconError&quot;"
                         Value="{$(var.ShellGuidIconError)}" Type="string" />
          <RegistryKey Root="HKLM" Key="Software\Microsoft\Windows\CurrentVersion\Explorer\ShellIconOverlayIdentifiers\ &quot;.!(loc.AppName)IconPaused&quot;" />
          <RegistryValue Root="HKLM" Key="Software\Microsoft\Windows\CurrentVersion\Explorer\ShellIconOverlayIdentifiers\ &quot;.!(loc.AppName)IconPaused&quot;"
                         Value="{$(var.ShellGuidIconPaused)}" Type="string" />
          <RegistryKey Root="HKLM" Key="Software\Microsoft\Windows\CurrentVersion\Explorer\ShellIconOverlayIdentifiers\ &quot;.!(loc.AppName)IconLockedByMe&quot;" />
          <RegistryValue Root="HKLM" Key="Software\Microsoft\Windows\CurrentVersion\Explorer\ShellIconOverlayIdentifiers\ &quot;.!(loc.AppName)IconLockedByMe&quot;"
                         Value="{$(var.ShellGuidIconLockedByMe)}" Type="string" />
          <RegistryKey Root="HKLM" Key="Software\Microsoft\Windows\CurrentVersion\Explorer\ShellIconOverlayIdentifiers\ &quot;.!(loc.AppName)IconLockedByOthers&quot;" />
          <RegistryValue Root="HKLM" Key="Software\Microsoft\Windows\CurrentVersion\Explorer\ShellIconOverlayIdentifiers\ &quot;.!(loc.AppName)IconLockedByOthers&quot;"
                         Value="{$(var.ShellGuidIconLockedByOthers)}" Type="string" />

          <RegistryValue Root="HKLM" Key="Software\Microsoft\Windows\CurrentVersion\Shell Extensions\Approved" Name="{$(var.ShellGuidIconNormal)}" Value="!(loc.AppName)IconNormal" Type="string" />
          <RegistryValue Root="HKLM" Key="Software\Microsoft\Windows\CurrentVersion\Shell Extensions\Approved" Name="{$(var.ShellGuidIconSyncing)}" Value="!(loc.AppName)IconSyncing" Type="string" />
          <RegistryValue Root="HKLM" Key="Software\Microsoft\Windows\CurrentVersion\Shell Extensions\Approved" Name="{$(var.ShellGuidIconError)}" Value="!(loc.AppName)IconError" Type="string" />
          <RegistryValue Root="HKLM" Key="Software\Microsoft\Windows\CurrentVersion\Shell Extensions\Approved" Name="{$(var.ShellGuidIconPaused)}" Value="!(loc.AppName)IconPaused" Type="string" />
          <RegistryValue Root="HKLM" Key="Software\Microsoft\Windows\CurrentVersion\Shell Extensions\Approved" Name="{$(var.ShellGuidIconLockedByMe)}" Value="!(loc.AppName)IconLockedByMe" Type="string" />
          <RegistryValue Root="HKLM" Key="Software\Microsoft\Windows\CurrentVersion\Shell Extensions\Approved" Name="{$(var.ShellGuidIconLockedByOthers)}" Value="!(loc.AppName)IconLockedByOthers" Type="string" />

        </Component>
      </Directory>
    </DirectoryRef>
  </Fragment>
</Wix>
