<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>${_("Seafile@Local")}</title>
    <link rel="stylesheet" type="text/css" href="/static/css/ui-lightness/jquery-ui-1.8.16.custom.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/ccnet.css" />
    <link rel="icon" type="image/png" href="/static/img/favicon.png?t=1" />
    <script type="text/javascript" src="/static/js/jquery-1.6.2.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery-ui-1.8.16.custom.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.simplemodal.1.4.1.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery-jtemplates.js"></script>
</head>

<%
     from seaserv import ccnet_rpc
     sinfo = ccnet_rpc.get_session_info()
%>

<body>
<div id="wrapper">
    <div id="header" class="ovhd">
        <div id="lang-info" class="fright">
            % if settings.SHOW_SYSTEM:
            <a href="/procs/">${_("System")}</a>
            % endif
            <a href=${"/i18n/?prev=" + web_ctx.fullpath} >
            % if lang == 'zh_CN':
            English
            % else:
            中文
            % endif
            </a>
        </div>
        <ul id="nav" class="fleft">
            <li>
            <div id="client-note">${_("This is Seafile Client")}</div>
            </li>
            <li id="library-nav-item">
            <a href="/repos/">${_("Libraries")}</a>
            </li>
            <!-- <li>
            <a href="/synclan/">${_("SyncLan")}</a>
            </li> -->
            <!-- <li>
            <a href="/peers/">${_("Network")}</a>
            </li>  -->
            <li id="settings-nav-item">
            <a href="/settings/">${_("Settings")}</a>
            </li>
            <li id="help-nav-item">
            <a href=${settings.DEFAULT_HELP_WEB}>${_("Help")}</a>
            </li>
        </ul>
    </div>
    <div id="main" class="ovhd">
        <div id="center-panel" class="fleft">
            ${self.center_panel()}
        </div>
        <div id="right-panel" class="fright">
            ${self.right_panel()}
        </div>
        <div id="main-panel" class="clear">
            ${self.main_panel()}
        </div>
        <%def name="center_panel()"></%def>
        <%def name="right_panel()"></%def>
        <%def name="main_panel()"></%def>
    </div>
    <div id="footer">
        <p class="fleft">Copyright © 2012 海文互知. ${_("Seafile Client Version:")} ${seafile_version}</p>
        <p class="fright">${_("Contact")} | ${_("About")}</p>
    </div>
</div><!-- wrapper -->
<script type="text/javascript" src="/static/js/jquery.tools.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.slides.js"></script>
<script type="text/javascript" src="/static/js/utils.js"></script>

<%def name="js()"></%def>
${self.js()}
<script type="text/javascript">
//for compatibility with ie7
function hideIfEmpty(e) {//e: an element or elements
    if (!$.trim(e.html())) {
            e.addClass('hide');
    }
}

hideIfEmpty($('#center-panel'));
hideIfEmpty($('#right-panel'));

</script>
</body>
</html>
