<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>Seafile:for po</title>
</head>

<body>
<h2>for repo.html:</h2>
<p>${_("List direcotry contents")}</p>
<p>${_('Restore contents to this state')}</p>
<h3>${_("Modification Detail")}</h3>
<p>${_("No file content modified.")}</p>

<h2>for all pages witch with 'Submit' btn in it</h2>
<p>${_("Submit")}</p>

<h2>peers.html</h2>
<p>${_("Connecting")}</p>

<h2>synclan.html</h2>
<p>${_("connection failed")}</p>

<h2>repo_download.html</h2>
<p>${_("Start download")}</p>
<p>${_("modify")}</p>

<h2>clone_tasks</h2>
<p>${_("Decrypt again")}</p>
<script type="text/javascript">
//for base.html
_("For better user experience, please use Chrome, Firefox, or IE with a version 8.0 or above.")
//for repo.html
_('synchronized')
_('indexing files')
_('sync initializing')
_('downloading')
_('uploading')
_('sync merging')
_('waiting for sync')
_('server not connected')
_('server authenticating')
_('auto sync is turned off')
_("sync status:")
_('You do not have permission to access this library')
_('The storage space of the library owner has been used up')
_('Remote service is not available')
_('Internal data corrupted.')
_('Failed to start upload.')
_('Error occured in upload.')
_('Failed to start download.')
_('Error occured in download.')
_('Unknown error.')
_("sync error:")
_("fetching...")
_("syncing...")
_("fetching...blocks transfered")
_("sync done.")
//for repo_setting.html
_("Started")//已开启
_("Stopped")//已停止
</script>
</body>
</html>
