<%inherit file="base.html"/>

<%def name="center_panel()">
<!-- notification area -->
% if error_msg:
<div class="notification">
    <p>${error_msg}</p>
</div>
% endif

<h3>${_("Computers in Local Network")}</h3>
<table class="peer-list">
    <tr>
        <th width="30%">${_("Computer Name")}</th>
        <th width="30%">${_("Net State")}</th>
        <th width="40%">${_("Action")}</th>
    </tr>
    % for peer in lnet_peers:
    <tr>
        % if not peer.props.net_state:
            <td data="${peer.props.name}">${peer.props.name}</td>
            <td>${_("disconnected")}</td>
            <td>
                <button data="/peers/operation/?op=connect&peer_id=${peer.props.id}" id="${peer.props.id}" class="connect">${_("Connect")}</button>
                <span class="hide">---</span>
                <button data="/peers/operation/?op=disconnect&peer_id=${peer.props.id}" class="disconnect hide">${_("Disconnect")}</button>
            </td>
        % else:
            <td data="${peer.props.name}"><a href="/pubrepos/?peer=${peer.props.id}">${peer.props.name}</a></td>
            <td>${_("connected")}</td>
            <td>
                <button data="/peers/operation/?op=connect&peer_id=${peer.props.id}" id="${peer.props.id}" class="connect hide">${_("Connect")}</button>
                <span class="hide">---</span>
                <button data="/peers/operation/?op=disconnect&peer_id=${peer.props.id}" class="disconnect">${_("Disconnect")}</button>
            </td>
        % endif
    </tr>
    % endfor
</table>
</%def>

<%def name="js()">
<script type="text/javascript">
$('.connect').each(function() {
    $(this).click(function() { 
        var connect_btn = $(this),
            no_op = $(this).next(),
            disconnect_btn = no_op.next(),
            state = $(this).parent().prev(),
            name = state.prev(),
            peer_id = $(this).attr('id'),
            peer_name = name.attr('data');
        //connect
        $.ajax({
            url: connect_btn.attr('data'), 
            dataType: 'json',
            cache: false,
            contentType: 'application/json; charset=utf-8',
            success: function(data) {
                if (data.in_connection) {
                    connect_btn.attr('class', 'connect hide');
                    no_op.removeClass('hide');
                    state.html('${_("Connecting")} <img src="/static/img/icon_loading.gif" alt="${_("Connecting")}" height="18" />');
                    setTimeout(connection_check, 1000);
                } else {
                    result_show(data.net_state);
                }
            }
        });
        //check status
        var connection_check = function() {
            $.ajax({
                url: '/peer/connection_check/?peer_id=' + peer_id, 
                dataType: 'json',
                cache: false,
                contentType: 'application/json; charset=utf-8',
                success: function(data) {
                    if (data.in_connection) {
                        setTimeout(connection_check, 1000);
                    } else {
                        result_show(data.net_state);
                    }
                }
            });
        };
        //show connection result
        var result_show = function(net_state) {
            if (net_state) {
                connect_btn.attr('class', 'connect hide');
                no_op.attr('class', 'hide');
                disconnect_btn.attr('class', 'disconnect');
                state.html('${_("connected")}');
                name.html('<a href="/pubrepos/?peer=' + peer_id + '">' + peer_name + '</a>');
            } else {
                connect_btn.attr('class', 'connect');
                no_op.attr('class', 'hide');
                disconnect_btn.attr('class', 'disconnect hide');
                state.html('${_("connection failed")}');
                name.html(peer_name);
            }
        };
    });
});

$('.disconnect').each(function() {
    $(this).click(function() { 
        var disconnect_btn = $(this),
            no_op = $(this).prev(),
            connect_btn = no_op.prev(),
            state = $(this).parent().prev(),
            name = state.prev(),
            peer_name = name.attr('data');
        $.ajax({
            url: disconnect_btn.attr('data'), 
            dataType: 'json',
            cache: false,
            contentType: 'application/json; charset=utf-8',
            success: function(data) {
                if (!data.net_state) {
                    connect_btn.attr('class', 'connect');
                    no_op.attr('class', 'hide');
                    disconnect_btn.attr('class','disconnect hide');
                    state.html('${_("disconnected")}');
                    name.html(peer_name);
                }
            }
        });
    });
});
</script>
</%def>
