Source: libseafile
Section: net
Priority: extra
Maintainer: m.eik michalke <meik.michalke@hhu.de>
Build-Depends:
    debhelper (>= 7),
    autotools-dev,
    libssl-dev,
    libsqlite3-dev,
    intltool,
    libglib2.0-dev,
    libevent-dev,
    uuid-dev,
    libtool,
    libcurl4-openssl-dev,
    valac,
    libjansson-dev,
    python,
    libfuse-dev,
    libsearpc-dev,
    libccnet-dev
Standards-Version: 3.9.5
Homepage: http://seafile.com

Package: libseafile
Section: libs
Architecture: any
Depends:
    ${shlibs:Depends},
    ${misc:Depends},
    libglib2.0-0,
    libsqlite3-0,
    libuuid1,
    libssl0.9.8 | libssl1.0.0,
    libevent-2.0-5,
    python,
    libsearpc,
    libccnet
Description: Seafile libraries
  File syncing and sharing software with file encryption and group sharing, emphasis on reliability and high performance.
  .
  This package contains the main library files as well as the daemon.

Package: seafile-cli
Section: utils
Architecture: any
Depends:
    libseafile (= ${binary:Version})
Description: Seafile command line interface.
  This package contains the command line interface to manage Seafile libraries.

Package: libseafile-dev
Section: libdevel
Architecture: any
Depends:
    libseafile (= ${binary:Version})
Description: Development files for the libseafile package.
