Source: seafile-daemon
Section: net
Priority: extra
Maintainer: m.eik michalke <meik.michalke@hhu.de>
Build-Depends:
    debhelper (>= 7),
    dh-python,
    autotools-dev,
    libssl-dev,
    libsqlite3-dev,
    intltool,
    libglib2.0-dev,
    libevent-dev,
    uuid-dev,
    libtool,
    libcurl4-openssl-dev,
    valac,
    libjansson-dev,
    python3 (>= 3.5),
    libsearpc-dev (>= 3.1.0)
Standards-Version: 3.9.5
Homepage: http://seafile.com

Package: seafile-daemon
Section: net
Architecture: any
Depends:
    ${shlibs:Depends},
    ${misc:Depends},
    ${python3:Depends},
Conflicts: seafile
Suggests: seafile-gui, seafile-cli
Description: Seafile daemon
 File syncing and sharing software with file encryption and group
 sharing, emphasis on reliability and high performance.
 .
 This package contains the Seafile daemon.

Package: libseafile0
Section: libs
Architecture: any
Depends:
    ${shlibs:Depends},
    ${misc:Depends},
    ${python3:Depends}
Conflicts: seafile
Description: Shared libraries for Seafile
 This package contains the shared libraries for the Seafile daemon.

Package: seafile-cli
Section: utils
Architecture: any
Depends:
    ${shlibs:Depends},
    ${misc:Depends},
    ${python3:Depends},
    libseafile0 (>= ${binary:Version}),
    seafile-daemon (>= ${binary:Version}),
    python-searpc (>= 3.1.0)
Conflicts: seafile
Description: Seafile command line interface.
 This package contains the command line interface to manage Seafile libraries.

Package: libseafile-dev
Section: libdevel
Architecture: any
Depends:
    ${misc:Depends},
    libseafile0 (= ${binary:Version})
Conflicts: seafile
Description: Development files for package libseafile0.
 This package contains the development files for the libseafile0 package.

Package: seafile-daemon-dbg
Section: debug
Architecture: any
Depends:
    seafile-daemon (= ${binary:Version}),
    ${misc:Depends},
Description: Debugging symbols for the seafile-daemon package.
 This package contains the debugging symbols for the seafile-daemon package.

Package: libseafile-dbg
Section: debug
Architecture: any
Depends:
    libseafile0 (= ${binary:Version}),
    ${misc:Depends},
Description: Debugging symbols for the libseafile0 package.
 This package contains the debugging symbols for the libseafile0 package.
