#!/usr/bin/make -f
# -*- makefile -*-

%:
	dh $@ --with python3 --with autotools_dev

override_dh_auto_configure:
	./autogen.sh
	dh_auto_configure -- --disable-fuse --with-python3

override_dh_auto_test:
# make check seems to be broken

override_dh_strip:
	# emptying the dependency_libs field in .la files
	sed -i "/dependency_libs/ s/'.*'/''/" `find debian/ -name '*.la'`
	dh_strip -pseafile-daemon --dbg-package=seafile-daemon-dbg
	dh_strip -plibseafile0 --dbg-package=libseafile-dbg
