#!/usr/bin/make -f
# -*- makefile -*-

%:
	dh $@ --with python2 --with autotools_dev

override_dh_auto_configure:
	./autogen.sh
	dh_auto_configure

override_dh_auto_test:
# make check seems to be broken
