#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# SEARPC_SOURCE_DIR and CCNET_SOURCE_DIR is set by build-deb.py
searpc_dir := $(LIBSEARPC_SOURCE_DIR)
ccnet_dir := $(CCNET_SOURCE_DIR)
destdir := $(CURDIR)/debian/seafile
install_prefix := $(destdir)/usr

ENABLE_APPINDICATOR := $(shell if lsb_release -a 2>/dev/null | grep -i ubuntu 2>/dev/null 1>&2; then \
	echo '--enable-appindicator'; \
else \
	echo; \
fi)

build-indep:
build-arch:
	dh_testdir
	mkdir -p $(install_prefix)

# build and install libsearpc so it can be used by ccnet and seafile
	cd $(searpc_dir) \
	&& ./configure --prefix=/usr --disable-compile-demo $(shell dpkg-buildflags --export=configure) \
	&& make \
	&& make install DESTDIR=$(destdir)

# Fix the problem of DESTDIR and libtool
	sed -i -e "s;/usr/lib/libsearpc-json-glib;$(destdir)/usr/lib/libsearpc-json-glib;g" $(install_prefix)/lib/libsearpc.la

# build and install ccnet so it can be used by seafile
	cd $(ccnet_dir) \
	&& ./configure --prefix=/usr --disable-compile-demo $(shell dpkg-buildflags --export=configure) \
	&& make \
	&& make install DESTDIR=$(destdir)

	./configure --prefix=/usr $(ENABLE_APPINDICATOR) $(shell dpkg-buildflags --export=configure) \
	&& make \
	&& make install DESTDIR=$(destdir)

# remove development files
	rm -rf $(install_prefix)/include
	rm -rf $(install_prefix)/lib/pkgconfig
	rm -rf $(install_prefix)/lib/*.a
	rm -rf $(install_prefix)/lib/*.la
	rm -f $(install_prefix)/bin/searpc-codegen.py
	rm -f $(install_prefix)/bin/ccnet-tool

binary-indep:
binary-arch:
	dh_testroot
	dh_installchangelogs
	dh_installdocs
#	dh_installexamples
#	dh_install
#	dh_installmenu
#	dh_installdebconf
#	dh_installlogrotate
#	dh_installemacsen
#	dh_installpam
#	dh_installmime
#	dh_python
#	dh_installinit
#	dh_installcron
#	dh_installinfo
#	dh_installman
#	dh_link
	dh_strip
	dh_compress
	dh_fixperms
#	dh_perl
	dh_makeshlibs
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

build: build-indep build-arch
binary: binary-indep binary-arch
clean:
	dh_clean

.PHONY: clean build build-indep build-arch binary binary-indep binary-arch
